h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-size: 50px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: monospacet
}

a{
    text-decoration: none;
}

p {
    line-height: 2;
}