section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

/* ems 부모에 따라 비율 달라짐 */

#ems h2 {  
    font-size: 2em;
    margin-left: 1em;
}
#ems h3 {
    font-size: 1.5;
}
#ems p {
    font-size: 0.8em;
}
button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9df2;
    color: white;
}

article {
    font-size: 20px;
}

/* rems 뿌리에 따라 비율 달라짐 */

#rems h2{
    font-size: 2rem;
}

#rems h3{
    font-size: 2rem;
}

#rems ul{
    font-size: 0.8em
}